.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

dataset/
images/
res/
models/
logs/
processing/

!models/convOnly_5x5_Filter_endTranspose/*
!models/convOnly_5x5_Filter_endTranspose/*/*